@model AmountViewModel
@{
    ViewData["Title"] = "Cheque";
}

<h1>Cheque</h1>
<p>Write your cheques within no time. :)</p>
<div style="border:5px solid; width:600px; height:200px; padding:5px;">
    <h2>ICICI BANK, Chandigarh Branch, 140308</h2>
    <table cellspacing="6">
        <tr>
            <td>
                Name: <b>Mr. John Doe</b>
            </td>
        </tr>
        <tr>
            <td>
                Amount in words: <b>@Model.WordAmount</b>
            </td>
        </tr>
        <tr>
            <td>
                Rs. <input type="text" disabled asp-for="AutomationAmount">
            </td>
        </tr>
    </table>
</div>